body{
    background-color:lavender;
}

.bs{
    border:1px solid;
}

.card-section{
    margin-top: 8%;
}

.bg-white{
    background-color: white;
}
.bg-whitesmoke{
    background-color: whitesmoke;
}
.br-5{
    border-radius: 5px;
}